.nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    padding: 10px 5px 0px 5px;

    &__logo{
        height: 65px;
    }

    &__links li{
        display: inline;
        list-style-type: none;
        margin-right: 1.5rem;
        color: $color-white;
        cursor: pointer;
        position: relative;
        font-size: 2rem;
        border-bottom: 2px solid transparent;
        transition: .3s;

        & a{
            text-decoration: none;
            color: $color-white;

            &:visited{
                text-decoration: none;
                color: $color-white;
            }
        }

        &:hover{
            border-bottom: 2px solid $color-white;
        }
    }
}