*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*This allows the ability to make a percentage of 16px, which is normal default ... it is also defining 1rem*/
  box-sizing: border-box; }

body {
  box-sizing: border-box; }

body, html {
  min-height: 600px; }

.full-wrapper {
  margin: 0 auto;
  padding: 0;
  position: relative; }

@font-face {
  font-family: Lato;
  src: url(../../fonts/Lato/Lato-Thin.ttf); }

body {
  font-family: Lato;
  font-size: 1.8rem; }

h1 {
  font-size: 4.8rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2.0rem; }

@media (max-width: 724px) {
  body {
    font-size: 1.8rem; }
  h1 {
    font-size: 4.2rem; }
  h2 {
    font-size: 2.0rem; }
  h3 {
    font-size: 2.0rem; } }

@media (max-width: 649px) {
  body {
    font-size: 1.8rem; }
  h1 {
    font-size: 3.8rem; }
  h2 {
    font-size: 2.0rem; }
  h3 {
    font-size: 2.0rem; } }

@keyframes slide-down {
  from {
    height: 0%; }
  to {
    height: auto; } }

.btn {
  background-color: #bf1e2e;
  padding: 2.5rem;
  outline: none;
  border: none;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: .4s;
  margin: 1.5rem;
  color: #fffbfc;
  font-size: 2rem; }
  .btn--cta:hover {
    background: #df3143;
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(35, 31, 32, 0.2); }
    .btn--cta:hover:after {
      transform: scale(2);
      opacity: 0; }
  .btn::after {
    content: '';
    display: inline-block;
    background-color: #bf1e2e;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .4s;
    border-radius: 100px; }

.hamburger {
  float: right;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  top: 17px;
  display: none; }
  .hamburger__bun {
    width: 35px;
    height: 2px;
    background-color: #fffbfc;
    transition: .3s; }
    .hamburger__bun--top {
      margin-bottom: 7px; }
    .hamburger__bun--middle {
      margin-bottom: 7px; }

@media (max-width: 695px) {
  .hamburger {
    display: block; } }

.header {
  min-height: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: linear-gradient(to bottom right, rgba(35, 31, 32, 0.7), rgba(191, 30, 46, 0.7), rgba(35, 31, 32, 0.7)), url("images/woman_with_computer_20200819.jpg");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  height: 97vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0 85%);
  color: #fffbfc;
  overflow: hidden;
  position: relative;
  padding: 1.5rem 3rem 13rem;
  text-transform: capitalize; }
  .header__text-box {
    text-align: right;
    margin-bottom: 2.5rem; }

@media (max-width: 467px) {
  .header {
    background-position: 30% 0%; } }

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  padding: 10px;
  transition: .3s;
  font-weight: 900; }
  .nav__links a {
    transition: .3s; }
  .nav:hover {
    background-color: #fffbfc;
    box-shadow: 0 5px 30px rgba(35, 31, 32, 0.4); }
  .nav:hover .nav__dropdown-content,
  .nav:hover .nav__dropdown-box,
  .nav:hover .nav__dropdown-box a {
    color: #231f20; }
  .nav__logo {
    height: 65px; }
  .nav__links {
    margin-right: 30px;
    transition: .3s; }
  .nav__links > li {
    display: inline;
    list-style-type: none;
    margin-right: 1.5rem;
    color: #fffbfc;
    cursor: pointer;
    position: relative;
    font-size: 2rem;
    border-bottom: 2px solid transparent;
    transition: .3s; }
    .nav__links > li a {
      text-decoration: none;
      color: #fffbfc; }
      .nav__links > li a:visited {
        text-decoration: none;
        color: #fffbfc; }
  .nav__link-title:hover {
    color: #bf1e2e !important; }
  .nav__dropdown-content {
    position: absolute;
    background-color: #fffbfc;
    overflow: hidden;
    display: none;
    width: 500px;
    border-radius: 0 0 0 20px;
    box-shadow: 0 5px 30px rgba(35, 31, 32, 0.4); }
    .nav__dropdown-content li {
      display: block;
      position: relative;
      padding: 15px; }
      .nav__dropdown-content li::after {
        content: '';
        width: 3px;
        height: 100%;
        background-color: rgba(191, 30, 46, 0.3);
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
      .nav__dropdown-content li:hover::after {
        transform: scaleY(1);
        width: 100%; }
  .nav__dropdown-box {
    position: relative; }
    .nav__dropdown-box:hover .nav__link-title {
      color: #bf1e2e; }
    .nav__dropdown-box:hover .nav__dropdown-content {
      display: block; }

@media (max-width: 695px) {
  .nav {
    position: fixed;
    display: block;
    flex: none;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    padding: 10px 0px 0px 0px;
    font-weight: 900;
    background-image: linear-gradient(to bottom right, #231f20, #bf1e2e, #231f20);
    box-shadow: 0 5px 30px rgba(35, 31, 32, 0.4);
    overflow-y: auto; }
    .nav__logo {
      height: 60px;
      display: inline;
      float: left; }
    .nav__links {
      display: block;
      position: static;
      padding: 15px 0px 15px 0px;
      clear: both;
      margin: 0;
      display: none; }
    .nav__link-title {
      transition: .3s;
      display: inline-block;
      position: relative; }
    .nav:hover .nav__dropdown-content,
    .nav:hover .nav__dropdown-box,
    .nav:hover .nav__dropdown-box a {
      color: #fffbfc; }
    .nav__dropdown-box {
      position: static;
      display: block; }
      .nav__dropdown-box:hover .nav__link-title {
        color: #fffbfc; }
      .nav__dropdown-box:hover .nav__dropdown-content {
        display: block; }
      .nav__dropdown-box:hover .nav__link-title {
        transform: translateX(10px); }
    .nav__link-title:hover {
      color: #fffbfc !important; }
    .nav__links > li {
      display: block;
      list-style-type: none;
      margin: 0;
      color: #fffbfc;
      cursor: pointer;
      position: relative;
      font-size: 2rem;
      border-bottom: solid 2px rgba(35, 31, 32, 0.3);
      transition: .3s;
      padding: 15px; }
      .nav__links > li:first-child {
        border-top: solid 2px rgba(35, 31, 32, 0.3); }
      .nav__links > li a {
        color: #fffbfc;
        margin: 10px 0 0 0; }
        .nav__links > li a:visited {
          color: #fffbfc; }
    .nav__dropdown-content {
      position: static;
      background-color: rgba(35, 31, 32, 0.3);
      overflow: hidden;
      display: block;
      width: 100%;
      border-radius: 0 0 0 0;
      box-shadow: none;
      height: 0px;
      padding: 0;
      margin: 0; }
      .nav__dropdown-content li {
        display: block;
        position: relative;
        padding: 15px; } }

.onScrollWhite {
  background-color: #fffbfc;
  box-shadow: 0 5px 30px rgba(35, 31, 32, 0.4); }

.onScrollBlackColor {
  color: #231f20; }

.fullHeight {
  height: auto; }

.menuShow {
  display: block; }

.noScroll {
  overflow: hidden; }

.fullVH {
  height: 100vh; }

.whiteColor {
  color: #fffbfc !important; }
  .whiteColor:hover {
    color: #fffbfc !important; }

.topBunClose {
  transform: rotateZ(-405deg);
  position: relative;
  top: 7px;
  margin: 0; }

.middleBunClose {
  opacity: 0; }

.bottomBunClose {
  transform: rotateZ(405deg);
  position: relative;
  top: -3px;
  margin: 0; }
