*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*This allows the ability to make a percentage of 16px, which is normal default ... it is also defining 1rem*/ }

body {
  box-sizing: border-box; }

.full-wrapper {
  margin: 0 auto;
  padding: 0;
  position: relative; }

@font-face {
  font-family: Lato;
  src: url(../../fonts/Lato/Lato-Thin.ttf); }

body {
  font-family: Lato;
  font-size: 1.8rem; }

h1 {
  font-size: 4.8rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2.0rem; }

@media (max-width: 724px) {
  body {
    font-size: 1.8rem; }
  h1 {
    font-size: 4.2rem; }
  h2 {
    font-size: 2.0rem; }
  h3 {
    font-size: 2.0rem; } }

@media (max-width: 649px) {
  body {
    font-size: 1.8rem; }
  h1 {
    font-size: 3.8rem; }
  h2 {
    font-size: 2.0rem; }
  h3 {
    font-size: 2.0rem; } }

@keyframes slide-down {
  from {
    height: 0%; }
  to {
    height: auto; } }

.btn {
  background-color: #bf1e2e;
  padding: 1.5rem;
  outline: none;
  border: none;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: .4s;
  margin: 1.5rem;
  color: #fffbfc; }
  .btn--cta:hover {
    background: #df3143;
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(35, 31, 32, 0.2); }
    .btn--cta:hover:after {
      transform: scale(2);
      opacity: 0; }
  .btn::after {
    content: '';
    display: inline-block;
    background-color: #bf1e2e;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .4s;
    border-radius: 100px; }

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: linear-gradient(to bottom right, rgba(35, 31, 32, 0.7), rgba(191, 30, 46, 0.7), rgba(35, 31, 32, 0.7)), url("images/woman_with_computer_20200819.jpg");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  height: 97vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0 85%);
  color: #fffbfc;
  overflow: hidden;
  position: relative;
  padding: 1.5rem 3rem 13rem;
  text-transform: capitalize; }
  .header__text-box {
    text-align: right;
    margin-bottom: 2.5rem; }

@media (max-width: 467px) {
  .header {
    background-position: 30% 0%; } }

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  padding: 10px 5px 0px 5px;
  transition: .3s;
  font-weight: 900; }
  .nav__links a {
    transition: .3s; }
  .nav:hover {
    background-color: #fffbfc;
    box-shadow: 0 10px 20px rgba(35, 31, 32, 0.4); }
  .nav:hover .nav__dropdown-content,
  .nav:hover .nav__dropdown-box,
  .nav:hover .nav__dropdown-box a {
    color: #231f20; }
  .nav__logo {
    height: 65px; }
  .nav__links {
    margin-right: 30px; }
  .nav__links > li {
    display: inline;
    list-style-type: none;
    margin-right: 1.5rem;
    color: #fffbfc;
    cursor: pointer;
    position: relative;
    font-size: 2rem;
    border-bottom: 2px solid transparent;
    transition: .3s; }
    .nav__links > li a {
      text-decoration: none;
      color: #fffbfc; }
      .nav__links > li a:visited {
        text-decoration: none;
        color: #fffbfc; }
  .nav__link-title:hover {
    color: #bf1e2e !important; }
  .nav__dropdown-content {
    position: absolute;
    background-color: #fffbfc;
    overflow: hidden;
    display: none;
    width: 500px;
    border-radius: 0 0 0 20px; }
    .nav__dropdown-content li {
      display: block;
      position: relative;
      padding: 15px; }
      .nav__dropdown-content li::after {
        content: '';
        width: 3px;
        height: 100%;
        background-color: rgba(191, 30, 46, 0.3);
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
      .nav__dropdown-content li:hover::after {
        transform: scaleY(1);
        width: 100%; }
  .nav__dropdown-box {
    position: relative; }
    .nav__dropdown-box:hover .nav__link-title {
      color: #bf1e2e; }
    .nav__dropdown-box:hover .nav__dropdown-content {
      display: block; }
