.hamburger{
    float: right;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    top: 17px;
    //overflow: hidden;
    display: none;

    // &:hover &__bun{
    //     background-color: green;

    //     &--top{
    //         transform: rotateZ(-405deg);
    //         position: relative;
    //         top: 7px;
    //         margin: 0;
    //     }

    //     &--middle{
    //         opacity: 0;
    //     }

    //     &--bottom{
    //         transform: rotateZ(405deg);
    //         position: relative;
    //         top: -2px;
    //         margin: 0;
            
    //     }
    // }

    &__bun{
        width: 35px;
        height: 2px;
        //background-color: $color-red;
        background-color: $color-white;
        transition: .3s;

        &--top{
            margin-bottom: 7px;
        }

        &--middle{
            margin-bottom: 7px;
        }

        &--bottom{
            
        }
    }

    // &__bun{
    //     width: 35px;
    //     height: 2px;
    //     background-color: $color-black;
    //     position: relative;

    //     &::before{
    //         content: "";
    //         width: 100%;
    //         height: 100%;
    //         background-color: $color-red;
    //         position: absolute;
    //         top: -10px;
    //     }
    
    //     &::after{
    //         content: "";
    //         width: 100%;
    //         height: 100%;
    //         background-color: green;
    //         position: absolute;
    //         top: 10px;
    //     }
    // }

    
}
@media(max-width: 646px){
    .hamburger{
        display: block;
    }
}