.header_small{
    min-height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: cover;
    //background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;
    height: 97vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0 85%);
    //@include flex-center-in-page;
    // position: relative;
    color: $color-white;
    overflow: hidden;
    position: relative;
    padding: 1.5rem 3rem 13rem;
    text-transform: capitalize;

    &__text-box{
        text-align: right;
        margin-bottom: 2.5rem;
    }

    &--aboutPage{
        background-image:
        linear-gradient(to bottom right, rgba($color-black, .7), rgba($color-red, .7), rgba($color-black, .7)),
        //linear-gradient(to bottom right, rgba($color-red, .7), rgba($color-black, .7), rgba($color-red, .7)),
            url('images/small_business0.jpg');
    }

    &--custom-websitesPage{
        background-image:
        linear-gradient(to bottom right, rgba($color-black, .7), rgba($color-red, .7), rgba($color-black, .7)),
        //linear-gradient(to bottom right, rgba($color-red, .7), rgba($color-black, .7), rgba($color-red, .7)),
            url('images/web_design_background.jpg');
    }

    &--LOGO-DESIGNPage{
        background-image:
        linear-gradient(to bottom right, rgba($color-black, .7), rgba($color-red, .7), rgba($color-black, .7)),
            url('images/logo0.jpg');
    }

    &--emailPage{
        background-image:
        linear-gradient(to bottom right, rgba($color-black, .7), rgba($color-red, .7), rgba($color-black, .7)),
            url('images/email0.jpg');
    }

    &--domainsPage{
        background-image:
        linear-gradient(to bottom right, rgba($color-black, .7), rgba($color-red, .7), rgba($color-black, .7)),
            url('images/dominas0.jpg');
    }

    &--hostingPage{
        background-image:
        linear-gradient(to bottom right, rgba($color-black, .7), rgba($color-red, .7), rgba($color-black, .7)),
            url('images/hosting0.jpg');
        background-position: center;
    }

    // &--DIGITAL-MARKETING{
    //     background-image:
    //     linear-gradient(to bottom right, rgba($color-black, .7), rgba($color-red, .7), rgba($color-black, .7)),
    //     //linear-gradient(to bottom right, rgba($color-red, .7), rgba($color-black, .7), rgba($color-red, .7)),
    //         url('images/digitalMarketing0.jpg');
    // }


}