body, html{
    min-height: 600px;
}
body{
    background-image: linear-gradient(to bottom right, rgba($color-purple, 1), rgba($color-blue, 1), rgba($color-purple, 1));
    background-position: center;
    background-attachment: fixed;
    color: $color-white;
}
.full-wrapper{
    //max-width: 1420px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.color-red{
    color: $color-red;
}