.onScrollWhite{
    background-color: $color-white;
    @include box-shadow;
}
.onScrollBlackColor{
    color: $color-black;
}

.fullHeight{
    height: auto;
}

.menuShow{
    display: block;
}

.noScroll{
    overflow: hidden;
}

.fullVH{
    height: 100vh;
}

.whiteColor{
    &:hover{
        color: $color-white !important;
    }
    
}