.onScrollWhite{
    background-color: $color-white;
    @include box-shadow;
}
.onScrollBlackColor{
    color: $color-black;
}

.fullHeight{
    height: auto;
}

.menuShow{
    display: block;
}

.noScroll{
    overflow: hidden;
}

.fullVH{
    height: 100vh;
}

.whiteColor{
    color: $color-white !important;
    &:hover{
        color: $color-white !important;
    }
    
}

.topBunClose{
    transform: rotateZ(-405deg);
    position: relative;
    top: 7px;
    margin: 0;
}

.middleBunClose{
    opacity: 0;
}

.bottomBunClose{
    transform: rotateZ(405deg);
    position: relative;
    top: -3px;
    margin: 0;
}