.onScrollWhite{
    background-color: $color-white;
    @include box-shadow;
}
.onScrollBlackColor{
    color: $color-black;
}

.fullHeight{
    height: auto;
}

.menuShow{
    display: block;
    transform: translateX(0);
}