.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    overflow: hidden;

    &--center-hor{
        justify-content: center;
    }

    &--center-ver{
        align-items: center;
    }

}