.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

[class^="box"]{
    box-sizing: border-box;
    display: flex;
}

.box{

    &-1{
        width: 100%;
        background: green;
    }

    &-2{
        width: 50%;
        background: orange;
    }

    &-3{
        width: 33.333333%;
        background-color: purple;
    }
    &-4{
        width: 25%;
    }
    &-5{
        width: 20%;
    }
}

.center-hor{
    justify-content: center;
}

.center-ver{
    align-items: center;
}