[class^="box"]{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.box{

    &-1{
        width: 100%;

    }

    &-2{
        width: 50%;
    }

    &-3{
        width: 30%;
    }
    &-4{
        width: 25%;
    }
    &-5{
        width: 20%;
    }
}

.center-hor{
    justify-content: center;
}

.center-ver{
    align-items: center;
}

.pt{

    &--lg{
        padding-top: 4rem;
    }

    &--md{
        padding-top: 2rem;
    }

    &--sm{
        padding-top: 1rem;
    }
}

.pr{

    &--lg{
        padding-right: 4rem;
    }

    &--md{
        padding-right: 2rem;
    }

    &--sm{
        padding-right: 1rem;
    }
}

.pb{

    &--lg{
        padding-bottom: 4rem;
    }

    &--md{
        padding-bottom: 2rem;
    }

    &--sm{
        padding-bottom: 1rem;
    }
}

.pl{

    &--lg{
        padding-left: 4rem;
    }

    &--md{
        padding-left: 2rem;
    }

    &--sm{
        padding-left: 1rem;
    }
}

.tx-r{
    text-align: right;
}

@media(max-width: 1095px){
    .box{

        // &-1{
        //     width: 100%;
        //     background-color: rgba($color-black, .4);
        // }
    
        &-2{
            width: 100%;
            flex-flow: column;
        }
    
        &-3{
            width: 100%;
            flex-flow: column;
        }
        // &-4{
        //     width: 25%;
        // }
        // &-5{
        //     width: 20%;
        // }
    }
}