.about{
    
    &-about{
        text-align: center;
        max-width: $max-width;
        margin: 4.5rem auto 2.5rem auto;

        & p{
            padding: 1rem 3rem 1rem 3rem;
            font-weight: bold;
        }
    }

    &-video{

        &__video{
            margin: auto;
            width: 90%;
            display: block;
            padding: 2rem;
            max-width: 1020px;
        }
    }

    &-testimonial{
        text-align: center;
        background-image:
        linear-gradient(to bottom right, rgba($color-black, .7), rgba($color-red, .7), rgba($color-black, .7)),
        //linear-gradient(to bottom right, rgba($color-red, .7), rgba($color-black, .7), rgba($color-red, .7)),
            url('images/group_thumbs_up0.jpg');
        background-size: cover;
        background-position: center;
        //background-attachment: fixed;
        padding: 5.5rem 3.5rem 10rem 3.5rem;
        color: $color-white;
        clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0 85%);
        margin: 4rem 0 10rem 0;

        &__testimonial{
            font-size: 3rem;
            background-color: rgba($color-black, .3);
            padding: 3rem;
            border-radius: 10px;
            max-width: $max-width;
            margin: auto;
        }
    }

    &-why{
        padding-bottom: 5.5rem;

        & i{
            color: $color-red;
            //@include red-white-gradient-color;
            font-size: 3.3rem;
            margin-bottom: 1.5rem;
        }

        & h1{
            margin-bottom: 3.5rem;
            text-align: center;
        }

        & .box-1{
            justify-content: space-evenly;

        }

        & .box-3{
            //flex-flow: column;
            display: inline-block;
            background-color: rgba($color-black, .3);
            //justify-content: center;
            //align-items: center;
            padding: 3rem 1.5rem;
            border-radius: 10px;
            text-align: center;

            & p{
                text-align: center;
                margin-top: 1rem;
            }
        }
    }

    &-team{
        //background-color: rgba($color-black, .3);
        margin:auto;
        margin-bottom: 5.5rem;
        padding-bottom: 3rem;
        max-width: $max-width;
        text-align: center;
        position: relative;


        & h1{
            text-transform: capitalize;
            text-align: center;
            margin-bottom: 3rem;
        }

        & .box-1{
            display: flex;
            justify-content: space-evenly;

            & .box-3{
                width: 30%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border: solid 2px transparent;
                transition: .3s;
                padding: 1.5rem 0;
                background-color: rgba($color-black, .3);
                border-radius: 10px;
                border: solid 2px transparent;

                & .mug{
                    border-radius: 50%;
                    height: 15rem;
                    border: solid 2px $color-white;
                    transition: .3s;
                }

                & .name{
                    margin: 1rem 0;
                    font-weight: bold;
                    text-align: center;
                }

                & .title{
                    text-align: center;
                }

                &:hover{
                    border: solid 2px $color-white;

                    & .mug{
                        transform: scale(1.1);
                        box-shadow: 0 0 20px rgba($color-black, .4);
                    }

                    & .bio-button{
                        background: lighten($color-red, 10%);
                    }
                }
            }
        }

        & .bio-button{
            background: $color-red;
            width: 60%;
            text-align: center;
            border-radius: 10px;
            padding: 1rem 0;
            margin-top: 1rem;
            cursor: pointer;
            font-weight: bold;
            transition: .3s;
        }

        & #chrisBioModal{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba($color-black, .9);
            z-index: 200;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .mug{
                // border-radius: 50%;
                // height: 15rem;
                // border: solid 2px $color-white;
                // transition: .3s;
                width: 80%;
                max-width: 400px;
            }

            & .name{
                margin: 1rem 0;
                font-weight: bold;
                text-align: center;
            }

            & .title{
                text-align: center;
            }

            & .bio{
                padding: 1.5rem;
                max-width: 1000px;
            }
        }
    }

}

@media(max-width: 1095px){
    .about{

        &-why{

            & .box-3{
                background-color: transparent;
            }
        }
    }
}