.custom-websites{

    &__about{
        text-align: center;
        max-width: $max-width;
        margin: 4.5rem auto 2.5rem auto;

        & .box-2{
            align-items: center;
            padding: 1.5rem;

            & img{
                width: 100%;
                border-radius: 10px;
            }
        }

        & h1{
            text-align: center;
            text-transform: capitalize;
            padding: 0 2rem 0 2rem;
            margin-bottom: 4.5rem;
        }

        & p{
            padding: 1rem 3rem 1rem 3rem;
            font-weight: bold;
        }
    }

    &__featured-sites{
        padding: 1.5rem;
        background-color: rgba($color-black, .3);

        & h1{
            text-align: center;
        }

        & a{
            text-decoration: none;
        }

        & .btn{
            display: block;
            margin: 1.5rem;
        }

        & .box-1{
            //max-width: $max-width;
            text-align: center;
            justify-content: space-evenly;
            flex-direction: row;
            margin: auto;
        }

        & .box-2{
            flex-direction: column;
            align-items: center;
            padding: 1.5rem;
        }

        &__site{
            height: 50rem;
            width: 100%;
            border-radius: 10px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;

            &--dd{
                background-image: url("images/dd0.png");
            }

            &--wwt{
                background-image: url("images/wwt0.png");
            }
        }
    }
}