.custom-websites{

    &__about{
        text-align: center;
        max-width: $max-width;
        margin: 4.5rem auto 2.5rem auto;

        & .box-2{
            align-items: center;
            padding: 1.5rem;

            & img{
                width: 100%;
                border-radius: 10px;
            }
        }

        & h1{
            text-align: center;
            text-transform: capitalize;
            padding: 0 2rem 0 2rem;
            margin-bottom: 4.5rem;
        }

        & p{
            padding: 1rem 3rem 1rem 3rem;
            font-weight: bold;
        }
    }

    &__featured-sites{
        padding: 1.5rem;
        background-color: rgba($color-black, .3);

        & h1{
            text-align: center;
        }

        & a{
            text-decoration: none;
        }

        & .btn--mobile{
            display: none;
            margin: 1.5rem;
        }

        & .box-1{
            //max-width: $max-width;
            text-align: center;
            justify-content: space-evenly;
            flex-direction: row;
            margin: auto;
        }

        & .box-2{
            flex-direction: column;
            align-items: center;
            padding: 1.5rem;
        }

        &__site{
            height: 50rem;
            width: 100%;
            border-radius: 10px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
            overflow: hidden;

            &--dd{
                background-image: url("images/dd0.png");
            }

            &--wwt{
                background-image: url("images/wwt0.png");
            }

            &--ts{
                background-image: url("images/ts0.png");
            }

            &--gym{
                background-image: url("images/gym0.jpg");
            }

            &--ec{
                background-image: url("images/ec0.png");
            }

            &--bj{
                background-image: url("images/bj0.png");
            }

            &:hover .custom-websites__featured-sites__link{
                transform: translateY(0%);
            }
        }

        &__link{
            height: 100%;
            background-image:  linear-gradient(to bottom right, rgba($color-black, .7), rgba($color-white, .7), rgba($color-black, .7));
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(100%);
            transition: .3s;
        }
    }
}

//=======================
//      MEDIA QUERIES
//=======================
@media(max-width: 750px){
    .btn--mobile{
        display: block !important;
    }

    .custom-websites__featured-sites__link{
        display: none;
    }
}